header{
    height: 15vh;
    display: inline-block;
    background-color: black;
}

.logo{
    margin-left: 100px;
    height: 60px;
    width: auto;
}
.row-buttons{
    height: 15px;
    width: 50px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}